@tailwind base;
@tailwind components;
@tailwind utilities;

.hashtag::before {
  content: '#';
  color: #c778dd;
}

h1 span {
  color: #c778dd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

p {
  color: #abb2bf;
}
